<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.3.1" targetFramework="net472" />
  <package id="GroupControls" version="1.9.0" targetFramework="net472" />
  <package id="TaskScheduler" version="2.10.1" targetFramework="net472" />
  <package id="TaskSchedulerEditor" version="2.10.1" targetFramework="net472" />
  <package id="TimeSpan2" version="2.4.2" targetFramework="net472" />
  <package id="TimeSpan2.Core" version="2.4.2" targetFramework="net472" />
  <package id="Tulpep.ActiveDirectoryObjectPicker" version="3.0.11" targetFramework="net472" />
</packages>